aiodns==3.0.0
aiohttp_socks==0.7.1
aioredis==2.0.1
async_generator==1.10
asynctest==0.13.0
brotli==1.0.9
brotlicffi==1.0.9.2
cchardet==2.1.7
cdecimal==2.3
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
ConfigParser==5.2.0
Cython==0.29.28
diff==0.6.1
dl==0.1.0
flake8==4.0.1
gunicorn==20.1.0
h2==4.1.0
idna_ssl==1.1.0
importlib_metadata==4.11.3
ipaddr==2.2.0
ipython==8.2.0
jnius==1.1.0
keyring==23.5.0
mock==4.0.3
motor==2.5.1
multiprocess==0.70.12.2
numpy==1.22.3
ordereddict==1.1
outcome==1.1.0
pip_api==0.0.29
pox==0.3.0
pyenchant==3.2.2
pylama==8.3.8
pymongo==4.1.1
pyOpenSSL==22.0.0
pytest==7.1.1
python_bcrypt==0.3.2
rapidjson==1.0.0
requirementslib==1.6.3
sets==0.3.2
simplejson==3.17.6
sympy==1.10.1
tokenize_rt==4.2.1
tokio==0.2.0
typed_ast==1.5.3
ujson==5.2.0
unicodedata2==14.0.0
uvloop==0.16.0
wincertstore==0.2.1
